*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}

.box-main {
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template: "img-box-main empty"/ 
                    555px         1fr;
}

.supermain{
    display: flex;
    justify-content: center;
    margin-left: 175px;
    margin-top: 20px;
}

img {
    border-radius: 10px;
    cursor: pointer;
}

.img-box {
    grid-area: img-box;
    width: 100%;
}

.img-mini {
    width: 100%;
}

.box-img1 {
    grid-area: box-img1;
}
.box-img2 {
    grid-area: box-img2;
}
.box-img3 {
    grid-area: box-img3;
}
.box-img4 {
    grid-area: box-img4;
}

.img-mini-act {
    opacity: .4;
    z-index: -20;
}

.buy-box{
    display: block;
    width: 100%;
    margin-left: 20px;
}

.cant-box{
    display: inline-flex; 
}
.iconop{
    width: 50px;
    height: 50px;
    background-color: rgb(230,230,230);
    color: rgb(255,125,26);
    justify-content: center;
    align-items:center;
    border: 1px solid white;
    font-weight: 900;
    cursor: pointer;
    display: flex;
}

.btn-menos{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.8em;
}

.cant-obj {
    font-size: 1.3em;
    color: black;
    font-weight: 900;
}

.btn-mas {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.8em;
}

.lightbox {
    background-color: rgba(53, 53, 53, 0.719);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-lightbox{
    width: 450px;
    height: 600px;
}

.btn-style {
    background-color: white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    top:198px;

}

.btn-atras {
    left: -25px;
    z-index: 20;
}

.btn-adelante{
    left: 95%;
    z-index: 20;
    top:152px;
}

.style-btn{
    font-weight: 900;
    font-size: 1.3em;
}


.btn-adelante:hover,.btn-atras:hover, .btn-x {
    cursor: pointer;
}


.fondo {
    display: grid;
    margin-top: -100px;
    justify-content: center;
    width: 100%;
    grid-template: 
                    "box-img1 empty-1     box-img2  empty-2     box-img3     empty-3   box-img4" 90px/ 
                    90px       25px        90px       25px        90px           25px        90px;
}

.img-mini-act2 {
    opacity: .7;
}

.img-main-light {
    position: relative;
    top: -113px;
    width: 100%;
    border-radius: 20px;
    z-index: 19;
}

.lightbox-hidden {
    visibility: hidden;
}

.btn-x {
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
    position: relative;
    top: -115px;
    left:100%;
    font-size: 0.8em;
}

.style-btn2{
    font-weight: 900;
    font-size: 0.8em;
    top:2px;
}

.mainheader{
    display: grid;
    color: rgb(105,112,125);
    width: 100%;
    align-self: center;
    justify-self: center;
    border-bottom: 2px solid rgb(237,238,241) ;
    grid-template:"empty-4  logo        empty-3    collection   empty-5    men      empty-6     woman   empty-7     about   empty-8   contact   empty-1     cart    empty-9    photo   empty-0" 75px/
                    1fr     150px    80px         80px         35px      40px     35px         60px   35px        55px   35px    55px          335px         70px    0px       70px    1fr;
}


.img-box-main{
    display: grid;
    grid-area: img-box-main;
    width: 100px;
    grid-template:  "img-box    img-box     img-box     img-box     img-box         img-box   img-box" 435px
                    "empty-0    empty-0     empty-0     empty-0     empty-0         empty-0     empty-0" 30px
                    "box-img1 empty-1     box-img2  empty-2     box-img3     empty-3   box-img4" 90px/ 
                    90px       25px        90px       25px        90px           25px        90px;

}

.empty-5{
    border-bottom: 2px solid rgb(237,238,241) ;
}

.logo{
    grid-area: logo;
    width: 100%;
}

.logo:hover, .photo:hover, .cart:hover {
    border-bottom: none;
}

.collection {
    grid-area: collection;
    width: 100%;
}
.men{
    width: 100%;
    grid-area: men;
}
.woman {
    width: 100%;
    grid-area: woman;
}

.about{
    width: 100%;
    grid-area: about;
}

.contact {
    width: 100%;
    grid-area: contact;
}

.cart{
    grid-area: cart;
    font-size: 1.5em;
}

.photo{
    width: 100%;
    grid-area: photo;  
}

.guy{
    width: 100%;
    width: 30px;
}

h2 {
    width: 80%;
    color: black;
    font-size: 3rem;
    font-weight: 700;
}

.txt {
    color: rgb(123, 123, 125);
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.orange {
    font-size: 1.2em;
    color: orange;
    margin-top: 100px;
}