body{
    background-color: rgb(252, 252, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: "ds_digital";
    font-size: 5em;
    color: black;
}
@font-face {
    font-family: "ds_digital";
    src: url(../font/ds_digital/DS-DIGII.TTF);
}