.box {
    display: inline-flex;
    width: 250px;
    height: 250px;
    background-color: brown;
    margin: 30px;
    padding: 10px;


}

.box-1 {
    text-align: right;
    border: 6px double red;
    background-color: aqua;   
}

.box-2 {
    text-align: left;
    border: 6px solid red;
    background-color: beige;   
}
.box-3 {
    border: 6px dotted red;
    background-color: green;   
}
.box-4 {
    text-align: justify;
    border: 6px dashed red;
    background-color: gray;   
}
.box-5 {
    text-align: center;
    border: 6px groove red;
    background-color: yellow;   
}
