.box1{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    margin: 150px;
    
}

.box2{
    width: 150px;
    height: 150px;
    background-color: blue;
    position: relative;
    top: 100%;
    left: 30px;
}
.box3{
    width: 150px;
    height: 150px;
    background-color:rgb(221, 144, 20);
    position: relative;
    top: 100%;
    left: 30px;
}
.box4{
    width: 150px;
    height: 150px;
    background-color:rgb(222, 11, 241);
    position: relative;
    top: 100%;
    left: 30px;
}
.hijo{
    width: 150px;
    height: 150px;
    background-color:rgb(20, 214, 156);
    position: relative;
    top: 100%;
    left: 150px;
}
.hijo2{
    width: 150px;
    height: 150px;
    background-color:rgb(150, 55, 228);
    position: relative;
    top: 100%;
    left: 0px;
}